.body{
    display: flex;
    justify-content: center;
}

.table {
    width: auto;
    align-items: center;
}

.delete {
    background-color: red;
    color: white;
    border: none;
    background-image: url'delete.png';
}