.body{
    display: flex;
    justify-content: center;
}

.table {
    width: auto;
    align-items: center;
}

.delete {
    background-color: red;
    color: white;
    background-image: "delete.png";
}